@{
    ViewData["Title"] = "Catalog";
    @model IEnumerable<Product>;
}
<div class="catalog-container">
    <div class="catalog-container-banner">
        <div class="catalog-container-banner-content">
            <div>
                <img src="~/img/pngegg 1.png" alt="">
            </div>
            <div class="catalog-container-banner-text">
                <h2 class="poppins-medium">Unsurpassed flavors</h2>
                <p class="roboto-regular">Feel the care of the preparation with the selected ingredients</p>
            </div>
        </div>
    </div>
    <div class="catalog-section">
        <h2 class="poppins-medium">Food</h2>
        <div class="catalog-section-slider">
            <div class="catalog-section-slider-shading">
                <div class="catalog-section-slider-shading-left">
                    <img src="~/img/CaretLeft.svg" onclick="moveFoodSlide(-1)">
                </div>
                <div class="catalog-section-slider-shading-right">
                    <img src="~/img/CaretRight.svg" onclick="moveFoodSlide(1)">
                </div>
            </div>
            <div class="catalog-section-slider-items" id="food-slider">
                @foreach (var item in Model.Where(x => x.ProductType == (ProductType)0))
                {
                    <form method="get" class="catalog-section-slider-items-item">
                        <img src="data:image/png;base64,@item.Image" alt="" class="catalog-section-slider-items-item-dish">
                        <a style="text-decoration: none" href="/ProductInfo/Product/?id=@item.Id"><h3 class="poppins-bold">@item.Name ></h3></a>
                        <p class="roboto-regular">@item.Description.Remove(30, item.Description.Length-30)...</p>
                        <h2 class="roboto-regular-big">$@item.Price</h2>
                        <div class="catalog-section-slider-items-item-actions">
                            <img class="catalog-section-slider-items-item-actions-minus" src="~/img/Minus.svg" alt="" onclick="changeQuantity(this, -1)">
                            <p class="catalog-section-slider-items-item-actions-count">01</p>
                            <input type="number" name="quantity" value="1" style="display: none;" class="catalog-section-slider-items-item-actions-count-value">
                            <img class="catalog-section-slider-items-item-actions-plus" src="~/img/Plus.svg" alt="" onclick="changeQuantity(this, 1)">
                            <button type="submit" name="id" value="@item.Id" class="catalog-section-slider-items-item-actions-button"><p class="poppins-medium">Add</p></button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
    <div class="catalog-section">
        <h2 class="poppins-medium">Desserts</h2>
        <div class="catalog-section-slider">
            <div class="catalog-section-slider-shading">
                <div class="catalog-section-slider-shading-left">
                    <img src="~/img/CaretLeft.svg" onclick="moveDessertSlide(-1)">
                </div>
                <div class="catalog-section-slider-shading-right">
                    <img src="~/img/CaretRight.svg" onclick="moveDessertSlide(1)">
                </div>
            </div>
            <div class="catalog-section-slider-items" id="desserts-slider">
                @foreach (var item in Model.Where(x => x.ProductType == (ProductType)2))
                {
                    <form method="get" class="catalog-section-slider-items-item">
                        <img src="data:image/png;base64,@item.Image" alt="" class="catalog-section-slider-items-item-dish">
                        <a style="text-decoration: none" href="/ProductInfo/Product/?id=@item.Id"><h3 class="poppins-bold">@item.Name ></h3></a>
                        <p class="roboto-regular">@item.Description.Remove(30, item.Description.Length - 30)...</p>
                        <h2 class="roboto-regular-big">$@item.Price</h2>
                        <div class="catalog-section-slider-items-item-actions">
                            <img class="catalog-section-slider-items-item-actions-minus" src="~/img/Minus.svg" alt="" onclick="changeQuantity(this, -1)">
                            <p class="catalog-section-slider-items-item-actions-count">01</p>
                            <input type="number" name="quantity" value="1" style="display: none;" class="catalog-section-slider-items-item-actions-count-value">
                            <img class="catalog-section-slider-items-item-actions-plus" src="~/img/Plus.svg" alt="" onclick="changeQuantity(this, 1)">
                            <button type="submit" name="id" value="@item.Id" class="catalog-section-slider-items-item-actions-button"><p class="poppins-medium">Add</p></button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
    <div class="catalog-section">
        <h2 class="poppins-medium">Drinks</h2>
        <div class="catalog-section-slider">
            <div class="catalog-section-slider-shading">
                <div class="catalog-section-slider-shading-left">
                    <img src="~/img/CaretLeft.svg" onclick="moveDrinksSlide(-1)">
                </div>
                <div class="catalog-section-slider-shading-right">
                    <img src="~/img/CaretRight.svg" onclick="moveDrinksSlide(1)">
                </div>
            </div>
            <div class="catalog-section-slider-items" id="drinks-slider">
                @foreach (var item in Model.Where(x => x.ProductType == (ProductType)1))
                {
                    <form method="get" class="catalog-section-slider-items-item">
                        <img src="data:image/png;base64,@item.Image" alt="" class="catalog-section-slider-items-item-dish">
                        <a style="text-decoration: none" href="/ProductInfo/Product/?id=@item.Id"><h3 class="poppins-bold">@item.Name ></h3></a>
                        <p class="roboto-regular">@item.Description.Remove(30, item.Description.Length - 30)...</p>
                        <h2 class="roboto-regular-big">$@item.Price</h2>
                        <div class="catalog-section-slider-items-item-actions">
                            <img class="catalog-section-slider-items-item-actions-minus" src="~/img/Minus.svg" alt="" onclick="changeQuantity(this, -1)">
                            <p class="catalog-section-slider-items-item-actions-count">01</p>
                            <input type="number" name="quantity" value="1" style="display: none;" class="catalog-section-slider-items-item-actions-count-value">
                            <img class="catalog-section-slider-items-item-actions-plus" src="~/img/Plus.svg" alt="" onclick="changeQuantity(this, 1)">
                            <button type="submit" name="id" value="@item.Id" class="catalog-section-slider-items-item-actions-button"><p class="poppins-medium">Add</p></button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/js/catalog.js"></script>
<script src="~/js/slider.js" asp-append-version="true"></script>